/* Red and Black Theme: modifies the default theme to use red and black in various places. */

/* Use Open Sans and Rubik as the default fonts. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

/* Override default variables to use red and black theme. */
:root {
  --tf-red1: #c0392b; /* Dark Red */
  --tf-red2: #e74c3c; /* Lighter Red */
  --tf-black: #2c3e50; /* Black */
  --tf-light-gray: #ecf0f1; /* Light Gray */
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-red1);
  --tf-pill-bg: var(--tf-red2);
  --tf-icon-fill: var(--tf-red1);
  --tf-icon-hover: var(--tf-red2);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-light-gray);
  --tf-projects-bg-color: var(--tf-light-gray);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-red1);
  font-family: Rubik;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-red1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
  color: var(--tf-red1); /* Links in red */
}

a:hover {
  color: var(--tf-red2); /* Links turn to a lighter red when hovered */
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.rounded-circle {
  border-color: var(--tf-red1);
  border-style: solid;
  border-width: 1px;
}
